In [1]:
import pandas as pd

dataset = pd.read_csv('./nikl/dataset.csv')

dataset

,id,author_id,author_age,author_occupation,author_grade,author_sex,submission,publisher,date,prompt_type,...,evaluator2_score_con1,evaluator2_score_con2,evaluator2_score_con3,evaluator2_score_con4,evaluator2_score_con5,evaluator2_score_org1,evaluator2_score_org2,evaluator2_score_exp1,evaluator2_score_exp2,dtype
0,GWRW2300001050.1,F0005,2004,대학생_F대학,1,남성,웹페이지,미출판,20230419,과제,...,4,2,2,2,2,3,3,3,3,nikl_1
1,GWRW2300001060.1,F0142,2004,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,5,4,4,5,3,5,3,4,4,nikl_1
2,GWRW2300001070.1,F0140,2004,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,4,3,4,4,2,5,4,3,4,nikl_1
3,GWRW2300001080.1,F0147,2004,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,4,4,3,3,2,3,3,3,3,nikl_1
4,GWRW2300001090.1,F0139,2000,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,5,3,3,3,4,3,3,4,4,nikl_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11993,GWGR2400134220.1,G5284,2005,대학생_G대학,1,여성,웹페이지,미출판,20240707,과제,...,4,5,5,5,2,5,5,4,5,nikl_3
11994,GWGR2400134240.1,G5295,2004,대학생_G대학,2,여성,웹페이지,미출판,20240707,과제,...,4,3,3,3,3,3,2,4,4,nikl_3
11995,GWGR2400134250.1,G5307,2003,대학생_G대학,2,남성,웹페이지,미출판,20240707,과제,...,4,4,3,4,2,4,4,4,4,nikl_3
11996,GWGR2400134390.1,C5206,2000,대학생_C대학,3,남성,웹페이지,미출판,20240708,과제,...,4,3,4,3,5,3,4,5,5,nikl_3
11997,GWGR2400134590.1,C5293,2004,대학생_C대학,2,남성,웹페이지,미출판,20240710,과제,...,2,4,2,1,3,4,4,4,5,nikl_3

In [17]:
Q1 = dataset[dataset['prompt_num'] == 'Q1']
Q2 = dataset[dataset['prompt_num'] == 'Q2']
Q3 = dataset[dataset['prompt_num'] == 'Q3']
Q4 = dataset[dataset['prompt_num'] == 'Q4']
Q5 = dataset[dataset['prompt_num'] == 'Q5']
Q6 = dataset[dataset['prompt_num'] == 'Q6']
Q7 = dataset[dataset['prompt_num'] == 'Q7']
Q8 = dataset[dataset['prompt_num'] == 'Q8']
Q9 = dataset[dataset['prompt_num'] == 'Q9']

Q1

,id,author_id,author_age,author_occupation,author_grade,author_sex,submission,publisher,date,prompt_type,...,evaluator2_score_con1,evaluator2_score_con2,evaluator2_score_con3,evaluator2_score_con4,evaluator2_score_con5,evaluator2_score_org1,evaluator2_score_org2,evaluator2_score_exp1,evaluator2_score_exp2,dtype
1,GWRW2300001060.1,F0142,2004,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,5,4,4,5,3,5,3,4,4,nikl_1
2,GWRW2300001070.1,F0140,2004,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,4,3,4,4,2,5,4,3,4,nikl_1
3,GWRW2300001080.1,F0147,2004,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,4,4,3,3,2,3,3,3,3,nikl_1
4,GWRW2300001090.1,F0139,2000,대학생_F대학,1,남성,웹페이지,미출판,20230420,과제,...,5,3,3,3,4,3,3,4,4,nikl_1
6,GWRW2300001120.1,F0148,2003,대학생_F대학,1,여성,웹페이지,미출판,20230420,과제,...,3,4,3,4,3,4,4,4,4,nikl_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4270,GWRW2300048640.1,B0351,2004,대학생_B대학,1,여성,웹페이지,미출판,20230630,과제,...,4,4,4,4,3,4,5,4,4,nikl_1
4272,GWRW2300048660.1,B0035,2005,대학생_B대학,1,여성,웹페이지,미출판,20230630,과제,...,5,4,5,5,3,5,5,5,5,nikl_1
4278,GWRW2300048740.1,B0198,2002,대학생_B대학,1,여성,웹페이지,미출판,20230630,과제,...,1,2,2,2,1,1,1,1,3,nikl_1
4280,GWRW2300048760.1,E0727,2004,대학생_E대학,1,남성,웹페이지,미출판,20230705,과제,...,4,5,4,3,3,4,3,4,5,nikl_1
4281,GWRW2300048770.1,E0170,2001,대학생_E대학,1,남성,웹페이지,미출판,20230709,과제,...,4,4,4,4,3,5,4,5,5,nikl_1

In [19]:
from sklearn.model_selection import train_test_split

Q1_train, Q1_test = train_test_split(Q1, test_size=0.1, random_state=42)
Q2_train, Q2_test = train_test_split(Q2, test_size=0.1, random_state=42)
Q3_train, Q3_test = train_test_split(Q3, test_size=0.1, random_state=42)
Q4_train, Q4_test = train_test_split(Q4, test_size=0.1, random_state=42)
Q5_train, Q5_test = train_test_split(Q5, test_size=0.1, random_state=42)
Q6_train, Q6_test = train_test_split(Q6, test_size=0.1, random_state=42)
Q7_train, Q7_test = train_test_split(Q7, test_size=0.1, random_state=42)
Q8_train, Q8_test = train_test_split(Q8, test_size=0.1, random_state=42)
Q9_train, Q9_test = train_test_split(Q9, test_size=0.1, random_state=42)

In [20]:
train = pd.concat([Q1_train, Q2_train, Q3_train, Q4_train, Q5_train, Q6_train, Q7_train, Q8_train, Q9_train])
test = pd.concat([Q1_test, Q2_test, Q3_test, Q4_test, Q5_test, Q6_test, Q7_test, Q8_test, Q9_test]) 


train.to_csv('./nikl/train.csv', index=False, encoding='utf-8-sig')
test.to_csv('./nikl/test.csv', index=False, encoding='utf-8-sig')

1333.111111111111